<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IToDoManager"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://epbyminw0341/ToDoManagerService/TodoManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToDoManager" contract="SlowToDoManager.IToDoManager" name="BasicHttpBinding_IToDoManager"/>
    </client>
    <services>
      <service name="WcfService1.ToDoProxyService" behaviorConfiguration="MetadataBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfService1.IToDoProxyService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>