<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IToDoProxyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dubodel-001-site1.mywindowshosting.com/ToDoProxyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToDoProxyService"
                contract="ToDoClientManager.IToDoProxyService" name="BasicHttpBinding_IToDoProxyService" />
        </client>
    </system.serviceModel>
</configuration>